/* .progressbar{
    position: fixed;
    width: 100%;
    height: 1vh;
}

.filled{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white, black);
} */


#progress-bar {
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: var(--dark);
}

